<div class="row" style="margin-top: 20px">
  <div class="col s12 m6">
    <button class="waves-effect waves-light btn" (click)="filterType(item.title)" *ngFor="let item of groupUser">{{item.title}}</button>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1"
         *ngFor="let user of users | filter: currentType;  let index = index">

      <div *ngIf="index === currentIndex">
        <div [@enterAnimation]  class="card-content white-text">
          <span class="card-title">{{user.name}}</span>
          <p>{{user.description}}</p>
          <p>{{user.group}}</p>
        </div>
        <div class="card-action">
          <a [routerLink]="['/dashboard/user', user.id]">Редактирование профиля</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="pagination">
  <button class="waves-effect waves-light btn" (click)="slidePrev()">Предыдуший</button>
  <button class="waves-effect waves-light btn" (click)="slideNext()">Следующий</button>
</ul>
