<div style="margin-top: 30px; margin-left: 30px">
  <a [routerLink]="['/dashboard/user']" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_back</i></a>
</div>

<div class="container">
  <div class="row">
    <form [formGroup]="userEditForm" (submit)="onSubmit()" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <mz-input-container>
            <input mz-input
                   formControlName="name"
                   id="name"
                   [label]="'Имя'"
                   placeholder="Пожалуйста ввдите имя"
                   length="150"
                   type="text">
            <div *ngIf="userEditForm.controls['name'].errors && !userEditForm.controls['name'].pristine"
                 class="login-form__input-error deep-orange darken-4 white-text">
              <div [hidden]="!userEditForm.controls['name'].errors.required">Обязательное поле</div>
            </div>
          </mz-input-container>
        </div>
        <div class="input-field col s12">
          <mz-textarea-container>
            <textarea mz-textarea
                      formControlName="description"
                      [label]="'Описание'"
                      id="description"
                      placeholder="Пожалуйста введите описание"></textarea>
            <div *ngIf="userEditForm.controls['description'].errors && !userEditForm.controls['description'].pristine"
                 class="login-form__input-error deep-orange darken-4 white-text">
              <div [hidden]="!userEditForm.controls['description'].errors.required" class="form-error">Обязательное
                поле
              </div>
            </div>
          </mz-textarea-container>
        </div>
      </div>
      <!--[disabled]="currentUser.role !== 'admin'"-->
      <button class="waves-effect waves-light btn" [disabled]="currentUser.role !== 'admin'" type="submit">Редактировать</button>
    </form>
  </div>
</div>

<app-user-timeline></app-user-timeline>
