<div class="container">
  <div class="row">
    <h5>Тайм лайн</h5>
    <div class="card-panel" *ngFor="let userMonth of userTimeLine">
      <div *ngFor="let month of arrayMonth">
        <span *ngIf="month.id === userMonth">{{month.title}}</span>
      </div>
    </div>
  </div>
</div>
