<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['./home']" class="brand-logo">Users</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="['./user']">Список пользователей</a></li>
      <li><a (click)="linkShedule()">Графики</a></li>
      <li><a (click)="logout()">Выход</a></li>
    </ul>
  </div>
</nav>
