<div class="container">
  <div class="text-center center-align">
    <h1 class="mb-30">404</h1>
    <p class="error-sub">OOPS! Страница не найдена</p>
    <a class="btn btn-lg waves-effect waves-light"  routerLink="/" >Вернуться домой</a>
  </div>
</div>
