<div class="login-page valign-wrapper">
  <div class="container">
    <div class="col s6 m6">
      <div class="card">
        <div class="card-content">
          <h4 class="title-login">Авторизация</h4>
          <form class="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
            <div class="row">
            </div>
            <div class="row">
              <div class="input-field col s12">
                <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix
                     [icon]="'user'">
                  </i>
                  <input class="login-form__input login" formControlName="login" mz-input
                         [label]="'Логин'"
                         id="email-input"
                         placeholder="Введите логин"
                         length="150"
                         type="text">
                  <div *ngIf="loginForm.controls['login'].errors && !loginForm.controls['login'].pristine"
                       class="login-form__input-error deep-orange darken-4 white-text">
                    <div [hidden]="!loginForm.controls['login'].errors.required">Обязательное поле</div>
                  </div>
                </mz-input-container>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix
                     [icon]="''">
                  </i>
                  <input class="login-form__input password" formControlName="password" mz-input
                         [label]="'Пароль'"
                         id="password"
                         placeholder="Введите пароль"
                         length="150"
                         type="password">
                  <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine"
                       class="login-form__input-error deep-orange darken-4 white-text">
                    <div [hidden]="!loginForm.controls['password'].errors.required">Обязательное поле</div>
                  </div>
                </mz-input-container>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light col s12" type="submit">Авторизация</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

