.login-page {
  background-color: #f2f2f2;
  height: 100%;
}
.login-form {
  &__input {
    padding: 0 12px !important;
    box-sizing: border-box !important;
    &-error {
      padding: 5px;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
